/* fonts */
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@600&family=Poppins:wght@400;500&display=swap');

/* common style or utilities */
body{
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
}
main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}
.container{
    background-color: #FFFFFF;
    Width: 870px;
    padding: 30px;
    border-radius: 5px;
    margin-top: 21px;
    /* Height:679px; 
    padding-top: 30px;
    padding-left: 30px;
    padding-bottom: 42px; */
}

/* ------top players style------- */
.top-players{
    margin-bottom: 30px;
}
.section-title{
    color: #562EFF;
    font-size: 24px;
    margin-top: 3px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    /* grid-template-columns: 1fr 1fr 1fr; */
    grid-row-gap: 30px;
}
.player{
    display: flex;
    align-items: center;
}
.player img{
    width: 56px;
    height: 56px;
    
}
.player-name{
    padding-left: 16px;
    font-size: 18px;
}
hr{
    border: 1px solid #D1D1D1;
    margin-bottom: 28px;
}

/* -------------------
    Top Blogs Style 
---------------------*/

.blogs{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap: 80px;
    grid-row-gap: 26px;
}
.blog{
    display: flex;
    align-items: center;
}
.blog .thumbnail img{
    width: 177px;
    height: 117px;
}
.blog-info{
    margin-left: 16px;
    /* line-height: 24px; */
}
.blog-title{
    font-size: 20px;
}
.blog-author{
    font-size: 16px;
    color: #9F9F9F;
}
.blog-author a{
    text-decoration: none;
    font-size: 16px;
    color: #562EFF;
}
/*---------------------
 Top courses styles
 ---------------------- */
.courses{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 24px;
}
.course-detail{
    Width: 252.42px;
    Height: 269.79px;
    /* justify-content: center; */
}
.course .course-banner img{
    width: 224px;
    height: 104px;
    justify-content: center;
 }
.course-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.fa-star{
    font-size: 12px;
}
.fas.fa-star.filed{
    color: #FFC014;
}
.fas.fa-star{
    color: lightgrey;
}

/*------------------
     Media queries
------------------- */

/* Mobile devices */
@media only screen and (max-width:688px) {
    .container{
        width: 100%;
    } 
    .players, .blogs, .courses{
        grid-template-columns: repeat(1, 1fr);
    }
    .player, .blog{
        flex-direction: column;
    }
    .blog{
        align-items: flex-start;
    }
    /* .courses{
        display: none;
    } */
}
/* Tablet devices
------------------ */
@media only screen and (min-width: 689px) and (max-width: 991px) {
    .container{
        width: 100%;
    }
    .players{
        background-color: magenta;
    }
    .players, .blogs, .courses{
        grid-template-columns: repeat(2, 1fr);
    }
}